<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medkit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_square"
        android:label="Medkit"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.PhotoPostActivity"></activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:theme="@style/NoActionBarAppTheme" />
        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.CommunityActivity" />
        <activity android:name=".activities.DoctorLicenseActivity" />
        <activity
            android:name=".activities.UserTypeActivity"
            android:label="User Type" />
        <activity
            android:name=".activities.AddPostActivity"
            android:label="Add Post" />
        <activity
            android:name=".activities.SignInActivity"
            android:label="Sign In" />
        <activity
            android:name=".activities.GetStartedActivity"
            android:label="Get Started" />
        <activity
            android:name=".activities.SignHomeActivity"
            android:theme="@style/NoActionBarAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DoctorRegistrationActivity"
            android:label="Details" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/NoActionBarAppTheme" />
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.SignUpActivity"
            android:label="Sign Up" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>